/* styles.css */

body{
margin: 1rem;
	background-color: black;
	color: whitesmoke;
	font-size: 5rem;
	overflow: hidden; 
	background-image: url(../)
}

.grid-container { 
display: grid; 
/*grid-template-columns: 1fr 1fr 1fr; this is one way of a grid template. The one below is a more responive shorter version*/ 
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
gap: 2rem; 
margin: 10% 4rem 0 4rem; 
} 

.last {
  padding-bottom: 2rem;
  border-bottom: 2px soild rgb(220, 200, 180);
}
